*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #c2c2c2;
}

header {
    background-color: #1c1c1c;
}

header > div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

img {
    max-width: 100px;
}

ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
}

ul li a:hover{
    color: red;
}
